[run]
branch = True
source = src/evaluation
omit = 
    */tests/*
    */test_*.py
    */experiments.py
    */dataset_manager.py
    */span_evaluator.py
    */inspect_integration.py
    */phoenix/experiments.py
    */phoenix/datasets.py
    */pipeline/*
    */setup.py
    */__pycache__/*
    */inspect_tasks/video_retrieval.py
    */reference_free.py
    */phoenix/instrumentation.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov